<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Exercise List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    
  <ion-list>
          <ion-item *ngFor="let item of exercises">{{item.exerciseName}}</ion-item>
      <!--<ion-item item-start></ion-item>
      {{item.exerciseName}}
      <div class="item-note" item-end>
        {{item.primaryMuscle}}
      </div> -->
  </ion-list>

<button full ion-button color="secondary" (click)="openAddExercisePage()">Add Exercise</button>

                   
    
</ion-content>
                
 <!-- <ion-list>
      <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      {{exerciseItem.name}}
      <div class="item-note" item-end>
        {{item.personalRecord}}
      </div>
    </button>
  </ion-list> -->
  
