<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Add Exercise</ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)="close()"><ion-icon name="close"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
 
    <ion-item>
      <ion-label floating>Exercise Name</ion-label>
      <ion-input type="text" [(ngModel)]="exerciseName"></ion-input>
    </ion-item>
 
    <ion-item>
      <ion-label floating>Primary Muscle Group</ion-label>
      <ion-input type="text" [(ngModel)]="primaryMuscle"></ion-input>
    </ion-item>
 
  </ion-list>
 
  <button full ion-button color="secondary" (click)="addItem()">Add</button>
 
</ion-content>

<!-- 
    <form [formGroup]="form" (ngSubmit)="logForm()">
        <ion-item>
            <ion-label>Exercise: </ion-label>
            <ion-input type="text" formControlName="exerciseName"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Muscle group: </ion-label>
            <ion-input type="text" formControlName="primaryMuscle"></ion-input>
        </ion-item>
   <button ion-button type="submit" formControlName="add">Add</button>
    </form>
  -->
  
  
